
<li class="capitalize {% if page.id == '{{ | slugify}}' %}active{% endif %}">
  <a href="/docs/v2/api"></a>
</li>
<li class="capitalize {% if page.id == '{{ActionSheet | slugify}}' %}active{% endif %}">
  <a href="/docs/v2/api/components/action-sheet/ActionSheet">ActionSheet</a>
</li>
<li class="capitalize {% if page.id == '{{Alert | slugify}}' %}active{% endif %}">
  <a href="/docs/v2/api/components/alert/Alert">Alert</a>
</li>
<li class="capitalize {% if page.id == '{{App | slugify}}' %}active{% endif %}">
  <a href="/docs/v2/api/decorators/App">App</a>
</li>
<li class="capitalize {% if page.id == '{{Attr | slugify}}' %}active{% endif %}">
  <a href="/docs/v2/api/components/app/Attr">Attr</a>
</li>
<li class="capitalize {% if page.id == '{{Blur | slugify}}' %}active{% endif %}">
  <a href="/docs/v2/api/components/blur/Blur">Blur</a>
</li>
<li class="capitalize {% if page.id == '{{Button | slugify}}' %}active{% endif %}">
  <a href="/docs/v2/api/components/button/Button">Button</a>
</li>
<li class="capitalize {% if page.id == '{{Checkbox | slugify}}' %}active{% endif %}">
  <a href="/docs/v2/api/components/checkbox/Checkbox">Checkbox</a>
</li>
<li class="capitalize {% if page.id == '{{Config | slugify}}' %}active{% endif %}">
  <a href="/docs/v2/api/config/Config">Config</a>
</li>
<li class="capitalize {% if page.id == '{{Content | slugify}}' %}active{% endif %}">
  <a href="/docs/v2/api/components/content/Content">Content</a>
</li>
<li class="capitalize {% if page.id == '{{Events | slugify}}' %}active{% endif %}">
  <a href="/docs/v2/api/util/Events">Events</a>
</li>
<li class="capitalize {% if page.id == '{{HideWhen | slugify}}' %}active{% endif %}">
  <a href="/docs/v2/api/components/show-hide-when/HideWhen">HideWhen</a>
</li>
<li class="capitalize {% if page.id == '{{Icon | slugify}}' %}active{% endif %}">
  <a href="/docs/v2/api/components/icon/Icon">Icon</a>
</li>
<li class="capitalize {% if page.id == '{{Id | slugify}}' %}active{% endif %}">
  <a href="/docs/v2/api/components/app/Id">Id</a>
</li>
<li class="capitalize {% if page.id == '{{Input | slugify}}' %}active{% endif %}">
  <a href="/docs/v2/api/components/text-input/Input">Input</a>
</li>
<li class="capitalize {% if page.id == '{{Item | slugify}}' %}active{% endif %}">
  <a href="/docs/v2/api/components/item/Item">Item</a>
</li>
<li class="capitalize {% if page.id == '{{ItemSliding | slugify}}' %}active{% endif %}">
  <a href="/docs/v2/api/components/item/ItemSliding">ItemSliding</a>
</li>
<li class="capitalize {% if page.id == '{{Keyboard | slugify}}' %}active{% endif %}">
  <a href="/docs/v2/api/util/Keyboard">Keyboard</a>
</li>
<li class="capitalize {% if page.id == '{{Label | slugify}}' %}active{% endif %}">
  <a href="/docs/v2/api/components/label/Label">Label</a>
</li>
<li class="capitalize {% if page.id == '{{List | slugify}}' %}active{% endif %}">
  <a href="/docs/v2/api/components/list/List">List</a>
</li>
<li class="capitalize {% if page.id == '{{LocalStorage | slugify}}' %}active{% endif %}">
  <a href="/docs/v2/api/platform/storage/LocalStorage">LocalStorage</a>
</li>
<li class="capitalize {% if page.id == '{{Menu | slugify}}' %}active{% endif %}">
  <a href="/docs/v2/api/components/menu/Menu">Menu</a>
</li>
<li class="capitalize {% if page.id == '{{MenuClose | slugify}}' %}active{% endif %}">
  <a href="/docs/v2/api/components/menu/MenuClose">MenuClose</a>
</li>
<li class="capitalize {% if page.id == '{{MenuToggle | slugify}}' %}active{% endif %}">
  <a href="/docs/v2/api/components/menu/MenuToggle">MenuToggle</a>
</li>
<li class="capitalize {% if page.id == '{{Modal | slugify}}' %}active{% endif %}">
  <a href="/docs/v2/api/components/modal/Modal">Modal</a>
</li>
<li class="capitalize {% if page.id == '{{Nav | slugify}}' %}active{% endif %}">
  <a href="/docs/v2/api/components/nav/Nav">Nav</a>
</li>
<li class="capitalize {% if page.id == '{{Navbar | slugify}}' %}active{% endif %}">
  <a href="/docs/v2/api/components/navbar/Navbar">Navbar</a>
</li>
<li class="capitalize {% if page.id == '{{NavController | slugify}}' %}active{% endif %}">
  <a href="/docs/v2/api/components/nav/NavController">NavController</a>
</li>
<li class="capitalize {% if page.id == '{{NavParams | slugify}}' %}active{% endif %}">
  <a href="/docs/v2/api/components/nav/NavParams">NavParams</a>
</li>
<li class="capitalize {% if page.id == '{{NavPop | slugify}}' %}active{% endif %}">
  <a href="/docs/v2/api/components/nav/NavPop">NavPop</a>
</li>
<li class="capitalize {% if page.id == '{{NavPush | slugify}}' %}active{% endif %}">
  <a href="/docs/v2/api/components/nav/NavPush">NavPush</a>
</li>
<li class="capitalize {% if page.id == '{{Page | slugify}}' %}active{% endif %}">
  <a href="/docs/v2/api/decorators/Page">Page</a>
</li>
<li class="capitalize {% if page.id == '{{Platform | slugify}}' %}active{% endif %}">
  <a href="/docs/v2/api/platform/Platform">Platform</a>
</li>
<li class="capitalize {% if page.id == '{{RadioButton | slugify}}' %}active{% endif %}">
  <a href="/docs/v2/api/components/radio/RadioButton">RadioButton</a>
</li>
<li class="capitalize {% if page.id == '{{RadioGroup | slugify}}' %}active{% endif %}">
  <a href="/docs/v2/api/components/radio/RadioGroup">RadioGroup</a>
</li>
<li class="capitalize {% if page.id == '{{Refresher | slugify}}' %}active{% endif %}">
  <a href="/docs/v2/api/components/scroll/Refresher">Refresher</a>
</li>
<li class="capitalize {% if page.id == '{{Scroll | slugify}}' %}active{% endif %}">
  <a href="/docs/v2/api/components/scroll/Scroll">Scroll</a>
</li>
<li class="capitalize {% if page.id == '{{Searchbar | slugify}}' %}active{% endif %}">
  <a href="/docs/v2/api/components/searchbar/Searchbar">Searchbar</a>
</li>
<li class="capitalize {% if page.id == '{{Segment | slugify}}' %}active{% endif %}">
  <a href="/docs/v2/api/components/segment/Segment">Segment</a>
</li>
<li class="capitalize {% if page.id == '{{SegmentButton | slugify}}' %}active{% endif %}">
  <a href="/docs/v2/api/components/segment/SegmentButton">SegmentButton</a>
</li>
<li class="capitalize {% if page.id == '{{ShowWhen | slugify}}' %}active{% endif %}">
  <a href="/docs/v2/api/components/show-hide-when/ShowWhen">ShowWhen</a>
</li>
<li class="capitalize {% if page.id == '{{Slides | slugify}}' %}active{% endif %}">
  <a href="/docs/v2/api/components/slides/Slides">Slides</a>
</li>
<li class="capitalize {% if page.id == '{{SqlStorage | slugify}}' %}active{% endif %}">
  <a href="/docs/v2/api/platform/storage/SqlStorage">SqlStorage</a>
</li>
<li class="capitalize {% if page.id == '{{Tab | slugify}}' %}active{% endif %}">
  <a href="/docs/v2/api/components/tabs/Tab">Tab</a>
</li>
<li class="capitalize {% if page.id == '{{Tabs | slugify}}' %}active{% endif %}">
  <a href="/docs/v2/api/components/tabs/Tabs">Tabs</a>
</li>
<li class="capitalize {% if page.id == '{{Title | slugify}}' %}active{% endif %}">
  <a href="/docs/v2/api/components/toolbar/Title">Title</a>
</li>
<li class="capitalize {% if page.id == '{{Toggle | slugify}}' %}active{% endif %}">
  <a href="/docs/v2/api/components/toggle/Toggle">Toggle</a>
</li>
<li class="capitalize {% if page.id == '{{Toolbar | slugify}}' %}active{% endif %}">
  <a href="/docs/v2/api/components/toolbar/Toolbar">Toolbar</a>
</li>
<li class="capitalize {% if page.id == '{{ViewController | slugify}}' %}active{% endif %}">
  <a href="/docs/v2/api/components/nav/ViewController">ViewController</a>
</li>
