<h2 id="buttons" class="section-header">Buttons</h2>

<a class="improve-v2-docs" href="https://github.com/driftyco/ionic-site/edit/master/_includes/v2_fluid/component-docs/buttons.html">
  Improve This Doc
</a>

Buttons are an essential way to interact with and navigate through an app, and should clearly communicate what action will occur after the user taps them. Buttons are simple components in Ionic, can consist of text, an icon, or both, and can be enhanced with a wide range of attributes.

<ul class="docs-content">
  <li class="docs-content-header">Contents</li>
  <li class="docs-content-item"><a href="#buttons">Default Style</a></li>
  <li class="docs-content-item"><a href="#outline-buttons">Outline Style</a></li>
  <li class="docs-content-item"><a href="#clear-buttons">Clear Style</a></li>
  <li class="docs-content-item"><a href="#round-buttons">Round Buttons</a></li>
  <li class="docs-content-item"><a href="#block-buttons">Block Buttons</a></li>
  <li class="docs-content-item"><a href="#full-buttons">Full Buttons</a></li>
  <li class="docs-content-item"><a href="#button-sizes">Button Sizes</a></li>
  <li class="docs-content-item"><a href="#icon-buttons">Icon Buttons</a></li>
  <li class="docs-content-item"><a href="#floating-action-buttons">Floating Action Buttons</a></li>
  <li class="docs-content-item"><a href="#buttons-in-components">Buttons In Components</a></li>

</ul>


<ul class="docs-example">
  <li class="docs-example-content"><img src="/img/docs/basic-button-ex.png"></li>
  <li class="docs-example-conten"><img src="/img/docs/outline-button-ex.png"></li>
  <li class="docs-example-conten"><img src="/img/docs/clear-button-ex.png"></li>

</ul>

<h3 class="no-para">Basic Usage</h3>
<a class="component-doc-demo" href="https://github.com/driftyco/ionic2/tree/master/demos/component-docs/buttons/basic">
  View Demo Source
</a>

```html
<button>Button</button>
```

The `primary` property sets the color of the button. Ionic includes a number of default colors which can be easily overridden:

```html
<button light>Light</button>
<button>Primary</button>
<button secondary>Secondary</button>
<button danger>Danger</button>
<button dark>Dark</button>
```

<h3 class="section-nav" id="outline-buttons">Outline Style</h3>
<a class="component-doc-demo" href="https://github.com/driftyco/ionic2/tree/master/demos/component-docs/buttons/outline">
  View Demo Source
</a>

To use the outline style for a button, just add the `outline` property:

```html
<button light outline>Light Outline</button>
<button outline>Primary Outline</button>
<button secondary outline>Secondary Outline</button>
<button danger outline>Danger Outline</button>
<button dark outline>Dark Outline</button>
```

<h3 class="section-nav" id="clear-buttons">Clear Style</h3>
<a class="component-doc-demo" href="https://github.com/driftyco/ionic2/tree/master/demos/component-docs/buttons/clear">
  View Demo Source
</a>

To use the clear style for a button, just add the `clear` property:

```html
<button light clear>Light Clear</button>
<button clear>Primary Clear</button>
<button secondary clear>Secondary Clear</button>
<button danger clear>Danger Clear</button>
<button dark clear>Dark Clear</button>
```

<h3 class="section-nav" id="round-buttons">Round Buttons</h3>
<a class="component-doc-demo" href="https://github.com/driftyco/ionic2/tree/master/demos/component-docs/buttons/round">
  View Demo Source
</a>

To create a button with rounded corners, just add the `round` property:

```html
<button light round>Light Round</button>
<button round>Primary Round</button>
<button secondary round>Secondary Round</button>
<button danger round>Danger Round</button>
<button dark round>Dark Round</button>
```

<h3 class="section-nav" id="block-buttons">Block Buttons</h3>
<a class="component-doc-demo" href="https://github.com/driftyco/ionic2/tree/master/demos/component-docs/buttons/block">
  View Demo Source
</a>

Adding `block` to a button will make the button take 100% of its parent's width. It will also add `display: block` to the button:

```html
<button block>Block Button</button>
```

<h3 class="section-nav" id="full-buttons">Full Buttons</h3>
<a class="component-doc-demo" href="https://github.com/driftyco/ionic2/tree/master/demos/component-docs/buttons/full">
  View Demo Source
</a>

Adding `full` to a button will also make the button take 100% of its parent's width. However, it will also remove the button's left and right borders. This style is useful when the button should stretch across the entire width of the display.

```html
<button full>Full Button</button>
```

<h3 class="section-nav" id="button-sizes">Button Sizes</h3>
<a class="component-doc-demo" href="https://github.com/driftyco/ionic2/tree/master/demos/component-docs/buttons/sizes">
  View Demo Source
</a>

Add the `large` attribute to make a button larger, or `small` to make it smaller:

```html
<button small>Small<button>
<button>Default<button>
<button large>Large<button>
```

<h3 class="section-nav" id="icon-buttons">Icon Buttons</h3>
<a class="component-doc-demo" href="https://github.com/driftyco/ionic2/tree/master/demos/component-docs/buttons/icons">
  View Demo Source
</a>


To add icons to a button, add an icon component inside of it:

```html
<!-- Float the icon left -->
<button>
  <icon home></icon>
  Left Icon
</button>

<!-- Float the icon right -->
<button>
  Right Icon
  <icon home></icon>
</button>

<!-- Only icon (no text) -->
<button>
  <icon home></icon>
</button>
```

<h3 class="section-nav" id="floating-action-buttons">Floating Action Buttons</h3>
<a class="component-doc-demo" href="https://github.com/driftyco/ionic2/tree/master/demos/component-docs/buttons/fab">
  View Demo Source
</a>

Adding `fab` to a button will turn it into a floating action button. This is a material design styled button that is meant to draw the user to take a specific action. Fab buttons are positioned absolutely, and their placement can be controlled by adding attributes like `fab-top` and `fab-left`. See the [button API spec](../api/components/button/Button) for a full list of attributes.

```html
<button fab>FAB</button>
```

<h3 class="section-nav" id="buttons-in-components">Buttons In Components</h3>
<a class="component-doc-demo" href="https://github.com/driftyco/ionic2/tree/master/demos/component-docs/buttons/components">
  View Demo Source
</a>

Although buttons can be used on their own, they can easily be used within other components. For example, buttons can be added to a list item:

```html
<ion-list>
  <ion-item>
  </ion-item>
</ion-list>
```
