<h2 id="switch" class="section-header">Toggle</h2>

<a class="improve-v2-docs" href="https://github.com/driftyco/ionic-site/edit/master/_includes/v2_fluid/component-docs/switch.html">
  Improve This Doc
</a>

A toggle is an input component that holds a *boolean* value. Like the [checkbox](#checkbox), toggles are often used to allow the user to switch a setting on or off. Attributes like `value`, `disabled`, and `checked` can be applied to the toggle to control its behavior. Check out the [Toggle API Reference](../../api/components/toggle/Toggle/) for more information.

<h3 class="no-para">Basic Usage</h3>
<a class="component-doc-demo" href="https://github.com/driftyco/ionic2/tree/master/demos/component-docs/inputs/toggle">
  View Demo Source
</a>

```html
  <ion-toggle disabled checked="false">
    Sam
  </ion-toggle>
```
