
<ion-navbar *navbar hide-back-button class="show-navbar android-attr">
  <ion-title>Slides</ion-title>
</ion-navbar>

<ion-content class="has-header preview-slides">
    <ion-slides id="slider" style="background-color: black" pager loop="true" autoplay="true" bounce="true">
       <ion-slide>
         <div class="slide-contents" id="slide-1">
           Slide 1
         </div>
       </ion-slide>
       <ion-slide>
         <div class="slide-contents" id="slide-2">
           Slide 2
         </div>
       </ion-slide>
       <ion-slide>
         <div class="slide-contents" id="slide-3">
           Slide 3
         </div>
       </ion-slide>
    </ion-slides>
</ion-content>
